@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,400;0,8..144,600;1,8..144,600&family=Roboto:wght@300&family=Ubuntu:ital,wght@1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    padding: 0 15px 15px 20px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

.nav-a {
    text-decoration: none;
    color: white;
    margin-right: 20px
}

.popular {
    background-color: #00CC00;
    padding-top: 20px;
    padding-bottom: 30px;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.books {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
    width: 100%;
}

.book {
    height: 60vh;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#Deti-kapitana-granta {
    background-image: url(images/Дети_капитана_гранта.jpg);
}

#lyie-pod-vodoi {
    background-image: url(images/20_тысяч_лье_под_водой.jpg);
}

#k-centry-zemli {
    background-image: url(images/Путешествие_к_центру_земли.jpg);
}

.btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
}

.biography {
    background-color: black;
    color: white;
    padding: 30px;
}

.biography-p {
    padding: 20px;
    text-align: center;
}

.banner {
    background-image: url(images/Баннер.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px;
}

footer {
    background-color: #969393;
}

#information {
    color: #fff;
    padding: 15px;
    text-align: center;
}

li {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}